/*Style page*/
* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
  }

body {
  margin: 0px;
  padding: 0px;
}
#navbar {
  /* background-color: lightblue; */
  padding: 10px;
}

#navbar h2 {
   font-size: 40px;
   color: white; 
   text-align: right;
}
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #column1,
  #column2 {
    background-color:rgba(95, 169, 253, 0.623);
    border: 2px solid black;
  }

h2{
  font-size: 50px;
}

.cryptoBtn,
#clearBtn,
.stockBtn{
  background-color: cornflowerblue;
  font-size: 20px;
}

#statcyptoPrice,
#statstocksPrice,
#statcyptoGraph,
#statstocksGraph{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;

  margin: 10px auto;

  display: none;

}


