/*Style page*/
* {
    box-sizing: border-box;
  }

body {
  margin: 0px;
  padding: 0px;
}

#navbar {
  background-color: lightblue;
  padding: 10px;
}

#navbar h2 {
   font-size: 30px; 
   font-family: monospace;
   text-align: right;
}
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #column1 {
    text-align: right;
  }


  

